// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-sky-blue: #A2D2FF;
$sunset: #FFD6A5;
$melon: #FFAFAF;
$tea-green: #BFFCC6;


// 3. Palette Rêves Étoilés :
$deep-blue: #000033; // Pour l'arrière-plan, évoquant le ciel nocturne.
$gold-stars: #FFD700; // Pour les en-têtes et les titres, rappelant les étoiles.
$grey-pearl: #D1BEB0; // Pour le texte principal.
$pink-soft: #FFC0CB; // Pour les boutons, les icônes et autres accents, ajoutant une touche de rêverie.

$navy: #00425A;
$light-navy: #0086b7;
$forest: #1F8A70;
$light-green: #BFDB38;
$orange: #FC7300;
$light-orange: #ff9f50;
$wine-red: #CD1818;

a:link {
  text-decoration:none;
  color: #000000;
}
