<div class=container>

  <% @kids.each do |kid| %>
    <%= link_to kid_path(kid) do %>
      <%= cl_image_tag(kid.photo.key, class:'avatar-large d-block mt-5 mx-auto') %>
      <h1 class="text-center"><%= kid.first_name %></h1>
    <% end %>
  <% end %>


## <h1>Ajouter un enfant</h1>
  <#%= render "kids/form", kid: @kid %>

</div>
