<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>)">
  <div>
    <h1>StoryTime</h1>
    <p>Créez des histoires personnalisées pour vos enfants</p>
    <%= link_to new_user_registration_path do %>
      <button class="btn btn-flat w-100">J'y vais !</button>
    <% end %>
  </div>
</div>
