<div data-controller="animation" class="bg-dark">
  <canvas id="cnv"></canvas>
  <div id='stars'></div>
  <div id='stars2'></div>
  <div id='stars3'></div>
  <div id='title'>
    <span>
      STORYTIME
    </span>
    <br>
    <span >
    </span>
    <p id="tagline">Créez des histoires personalisées pour vos enfants</p>
    <%= link_to "Raconte-moi une histoire !", @family ? family_path(@family) : new_user_session_path, class: "button-78" %>

  </div>
</div>
