  <div class="modal top fade"
     id="readModal"
     tabindex="-1"
     aria-labelledby="readModalLabel"
     aria-hidden="true"
     data-mdb-backdrop="true"
     data-mdb-keyboard="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= story.title %></h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-center align-items-center">
            <div class="col-auto" data-controller="play"
             data-play-audio-file-value="<%= if story.audio.url == nil
                                             then story.audio.url = "/public/speech/elodie.mp3"
                                             else story.audio.url.gsub(/\.mpga/, ".mp3")
                                             end %>">
              <div data-play-target="playBtn" data-action="click->play#go">
                <%= image_tag "icons/play-circle.svg" %>
              </div>
              <div class="d-none" data-play-target="pauseBtn" data-action="click->play#pause">
                <%= image_tag "icons/pause-circle.svg" %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
