<h1>Your Generated Story</h1>
prompt<BR>content5<BR>


<!--
<p><%= @story.prompt %></p>
<p><%= @story.content %></p>
-->


<audio controls>
 <source src="/speech/story.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
