<div
  data-controller="story-subscription"
  data-story-subscription-story-id-value="<%= @story.id %>"
  data-story-subscription-target="story"
>

  <% if @story.title.present? %>

    <%= render "loaded_story", kid: @kid, story: @story %>

  <% else %>

    <%= render "pending_story", kid: @kid %>

  <% end %>
</div>
