.st-badge-plus {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.st-badge {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
