.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.card {
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  justify-content: space-between;
  h2 {
    margin: 0px;
  }
}

.card-kid {
  background: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: inherit;
  padding: 15px;
  h2 {
    margin: 0px;
  }
}

.card-infos {
  font-size: 0.9rem !important;
}

.card-story {
  background-size: cover;
  background-position: center;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  margin-bottom: 1rem;
  h2 {
    margin: 0px;
  }
}

.card-story-bottom {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.card-top {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card-bottom {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: bold;
}
