.cards-family {
  display: grid;
  overflow-x: scroll;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.card-family-kid {
  background: white;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: inherit;
  margin-bottom: 10px;
  padding: 15px;
  h2 {
    margin: 0px;
  }
}

.card-infos {
  font-size: 0.9rem !important;
  padding-right: 30px;
  padding-top: 8px;
  opacity: 0.5;
}

.cards-story {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  grid-gap: 1rem;
}

.card-kid-story {
  width: 90vw;
  background-size: cover;
  background-position: center;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  margin-bottom: 1rem;
  h2 {
    margin: 0px;
  }
}

.card-story-show {
  background-size: cover;
  background-position: center;
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  margin-bottom: 2rem;
  h2 {
    margin: 0px;
  }
}

.card-story-bottom {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.card-top {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card-bottom {
  height: 120px;
  padding: 20px 20px 10px 20px;
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card-title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-title-story-show {
  font-weight: bold;
}
