.my-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 4);
  text-align: justify;
  font-size: 1.3rem;
//   p::first-letter {
//     color: red;
//     font-size: 2rem;
//   }
}

.first-letter {
  font-size: 3rem;
  font-weight: bold;
  color: #FC7300;
}


.reading-content {
  align-self: center;
  text-align: justify;
  font-size: 1.8rem;
}
