.theme-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.theme-item {
  flex: 0 0 30%;
  margin-bottom: 10px;
}

.theme-selector {
  position: absolute;
  opacity: 0;
}

.theme-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.theme-selector:checked + label {
  background-color: rgb(230, 221, 221);
  border-color: black;
  color: black;
}
