.new_story {
  legend {
    margin-bottom: 2px;
  }
}

.story-theme-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  .form-check {
    justify-self: center;
    padding-left: 0px;
  }
}


.story-theme-input:checked + label {
  .image-wrapper {
    outline: 4px solid $orange;
  }

}

.image-wrapper {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  text-shadow: 0px 4px 16px rgb(0, 0, 0);
  outline: 3px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  span { color: white; }
}

.image-caption {
  /* Styles pour le texte du thème */
}

/* Clearfix pour le conteneur qui contient vos divs .image-box */
.image-container:after {
  content: "";
  display: table;
  clear: both;
}
