.mobile-nav {
  background: $navy;
  position: fixed;
  bottom: 0;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100000;
}

.mobile-nav a {
  text-decoration: none;
  color:white;
}

.bloc-icon {
  width: 80px;
  div {
    width: fit-content;
    margin: 0 auto;
  }
}

.bloc-icon img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.b-play {
border-radius: 50%;
height: 70px;
width: 70px;
background: $light-navy;
display: flex;
align-items: center;
justify-content: center;
position: relative;
top: -2rem;

}

.bloc-icon.b-play img {
    width: 60px;
    height: 60px;
}
