.mobile-nav {
  background: #00425A;
  position: fixed;
  bottom: 0;
  height: 83px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100000;
}

.mobile-nav a {
  text-decoration: none;
  color: white;
}

.bloc-icon img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
