// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "stories/index";

body {
  overscroll-behavior: none;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h4 {
  font-size: 3rem;
}
h6 {
  font-size: 1.5rem;
}
label {
  font-weight: bold;
}

#typing-field {
  height: 275px;
  min-height: 275px;
  max-height: 275px;
}

.plyr__controls {
	--plyr-color-main: #0d0d0d00;
  --plyr-audio-controls-background:#f000  ;
  --plyr-audio-control-color:#FC7300;
  --plyr-audio-control-color-hover: #ff9f50;
	--plyr-range-fill-background: #orange;
	--plyr-audio-range-track-background: ##ffa5005e;

  --plyr-menu-arrow-size:6px;
  --plyr-menu-item-arrow-color:#728197;
  --plyr-menu-item-arrow-size:4px;
  --plyr-tooltip-arrow-size:4px;

  --plyr-control-icon-size: 18px;
  --plyr-menu-arrow-size: 6px;
  --plyr-menu-item-arrow-size: 4px;
  --plyr-progress-loading-size: 25px;
  --plyr-tooltip-arrow-size: 4px;
  --plyr-font-size-base: 15px;
  --plyr-font-size-small: 13px;

  --plyr-font-size-time:13px;
  --plyr-font-size-menu:13px;
  --plyr-font-size-badge:9px;

}

// .form-actions {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
